html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
	
.wrapper{
	background-color: black;
	width: 97.3%;
	height: 20px;
	color: white;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}
.header-logo{
	color: white;
	float: left;
	font-size: 25px;
}
ul{
	text-align: right;
}
li{
	display: inline-block;
	justify-content: space-evenly;
	margin: auto 0;
	padding: 0 10px 10px;
	font-size: 15px;
}
.main{
	background-image: url("eyecatch.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 533px;
	position: relative;
}
.text p{
	color: white;
	font-style: italic;
	font-weight: bold;
	padding: 20% 50px 40px ;
	font-size: 55px;
}
.notice{
	position: absolute;
	display: flex;
	float: right;
	bottom: 0%;
	right: 0%;
}
.info{
	margin-right: 0%;
}
.info p{
	background-color: white;
	padding:30px 50px 25px;
	margin-right: 65%;
	width: 100%;
	height: 50%;
}
.news p{
	text-align: center;
	background-color: black;
	color: white;
	bottom: 0%;
	right: 0%;
	padding:  45px 125px;
	background-clip: padding-box;
}
.content{
	background:black;
	width: 100%;
	height: 500px;
	font-size: 20px;
	color: white;
	z-index: 1;
}
.content h2{
	font-family: 'Batang';
	padding: 75px;
	font-size: 25px;
	margin-left: 40px;
}
.content p{
	position: relative;
	margin-left: 90px;
	padding: 25px;
	z-index: 3;
	font-size: 20px;
}
.content img {
	position: absolute;
	right: 20%;
	height: 400px;
	margin-right: 35px;
	z-index: 2;
	top: 95%;
	right: 10%;
}
.context{
	margin-left: 25px;
}
.context h2{
	font-weight: bold;
}
.context p{
	word-wrap: break-word;
}
.mission{
	margin: 0;
}
.supplement{
	color: black;
	background-color: white;
	padding: 10px;
}

/* -------------------------------------------------------------- */

.service{
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 1450px;
	background-color: gray;
}
.secondary{
	width: 100%;
	margin-top: 10%;
}
.contents{
	position:absolute;
}
.contents h2{
	text-align: center;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.contents img{
	margin: auto 0;
	position: relative;
	height: 500px;
	float: right;
	width: 50%;
	z-index: 1;
}
.section{
	position: absolute;
	background-color: white;
	letter-spacing: 3px;
	height: 45%;
	width: 40%;
	padding-left: 60px;
	padding-right: 60px;
	margin-top: 55px;
	margin-left: 10%;
	z-index: 2;
	color: black;
}
.section h2{
	text-align: initial;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	padding-top: 50px;	
	padding-left: 15px;
}
 .section h3,.section p{
	padding-top: 15px;
	padding-left: 15px;
}
.contents_1{
	position:absolute;
} 
.contents_1 img{
	margin: auto 0;
	position: relative;
	height: 500px;
	float: left;
	width: 50%;
	z-index: 1;
	margin-top: 60%;
}
.section_1{
	position: absolute;
	background-color: white;
	letter-spacing: 3px;
	height: 35%;
	width: 40%;
	padding-left: 60px;
	padding-right: 60px;
	margin-top: 65%;
	margin-left: 30%;
	z-index: 2;
	color: black;
}
.section_1 h2{
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 40px;
	padding-right: 15px;
}
.section_1 h3,.section_1 p{
	padding-top: 15px;
	padding-right: 15px;
}

.details{
	color: black;
	background-color: white;
	padding: 10px;
	border: 1px solid black;
	margin-left:70%;
}

/* -------------------------------------------------------------- */

.double{
	display: flex;
	margin-top: 15%;
}
.company{
	background-image: url(company.jpeg);
	background-repeat: no-repeat;
	background-size:100% ;
	background-position: left;
	height: 50%;
	width: 30%;
	color: white;
	text-align: center;
	padding:12%;
	font-weight: bold;
}
.company h2,.recruit h2{
	font-size: 25px;
}
.company p,.recruit p{
	font-size: 15px;
}
.recruit{
	background-image: url(recruit.jpg);
	background-repeat: no-repeat;
	background-size:100% ;
	background-position: right;
	height: 50%;
	width: 30%;
	color: white;
	text-align: center;
	margin-left: 25%;
	padding:12%;
	font-weight: bold;
}
.question{
	background-color: black;
	padding-top: 75px;
	margin: 10%;
	height: 125px;
	width: 80%;
	color: white;
}
.faq{
	float: left;
	padding-left: 10px;
	font-size: 45px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.situmon{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 15px;
	padding-top: 20px;
	padding-right: 10%;
	text-align: center;	
}

/* ----------------------------------------------------------------- */

.contact{
	text-align: center;
}
.inquiry{
	color: white;
	background-image: url(contact-bg.jpg);
	background-repeat: no-repeat;
	background-size:100% auto;
	height: 600px;
	padding-top: 15%;
	}
.inquiry h2{
	font-size: 35px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding-top: 20px;
}
.inquiry p{
	padding: 15px;
}
.inquiry h3{
	padding: 10px;
	font-size: 30px;
	font-weight: 100;
}
.tell{
	border: 1px solid white;
	padding: 10px;
}
.phone{
	margin-top: 30px;
}
footer{
	background-color: black;
	height: 100px;
}
.footer-logo p{
	font-size: 30px;
	float: left;
}
.small{
	color: white;
	text-align: center;
	margin-top: 20px;
}


/* ---------------------スマホサイズ----------------------- */
@media screen and (max-width:480px){
	* { 
		margin: initial; padding: initial; 
	}
  .hamburger {
	width: 40px;
	height: 40px;
	position: absolute;
	cursor: pointer;
	top: 15px;
	right: 40px;
	transition: 0.4s;
  }	
  .hamburger span {
	position: absolute;
	left: 3px;
	display: block;
	width: 35px;
	height: 2px;
	background-color: #fff;
	transition: 0.8s;
  }
  .hamburger span:nth-of-type(1){
	  top: 10px;
  }
  .hamburger span:nth-of-type(2){
	  top: 20px;
  }
  .hamburger span:nth-of-type(3){
	  top: 30px;
  }
  .wrapper{
	  width: 89.3%;
  }
  .wrapper li{
	  display: none;
  }
  .main{
	background-image: url("eyecatch.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 800px;
	position: relative;
	overflow: hidden;
  }
  .text p{
	  font-size: 60px;
	  font-weight: bold;
	  margin-top: 35%;
  }
.notice{
	position: relative;
	display: flex;
	bottom: 0%;
}
.info{
	height: 50%;
	margin-top: 45%;
}
  .info p{
	position: static;  
	background-color: white;
	bottom: 15px;
	padding-left: 0%;
	padding-right: 0%;
  }
  .news{
	  bottom: 0%;
	  margin-top: 45%;
	  height: 50%;
	}
  .news p{
	  position: static;
	background-color: black;
	color: white;
	padding: 53px ;
	margin-bottom: 0;
  }
  .secondary{
	  width: 90%;
  }
  .content{
	  background-color: black;
	  height: 900px;
  }
  .content img{
		position: absolute;
		width: 50%;
		height: 20%;
		margin-top: 235%;
		left: 50%;
	}
	.context h2{
		font-weight: bold;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		padding-left: 5px;
		font-size: 35px;
	}
  .content p{
		line-height: 30px;
		margin: 10px;
		margin-bottom: 5%;
		letter-spacing: 2px;
	}
	.supplement{
		color: black;
		background-color: white;
		padding: 10px;
	}
	/* 質問ここから */
	.service{
	position: static;
	clear: both;
	margin-top: 20%;
	background-color: gray;
	height: 1450px;
	width: 100%;
}
.secondary{
	margin-top: 0%;
	margin-bottom: 20%;
}
.contents{
	position: static;
}
.contents h2{
	text-align: center;
	font-size: 45px;
}
.contents img,.contents_1 img{
	position: static;
	float: none;
	width: 100%;
	height: 60%;
	vertical-align: bottom;
	margin-left: 20px;
	margin-top: 0%;
}

.section,.section_1{
	width:100%;
	height: 60%;
	text-align: left;
	position: static;
	padding: 1px 0;
	margin-top: 0%;
	margin-right:  20px;
	margin-left: 20px;
	font-size: 15px;
}
.section h2{
	text-align: left;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 15px;
	padding-top: 25px;
	font-size: 20px;
}
.details{
	padding: 10px;
	margin-left: 35%;
}
.contents_1{
	position: static;
	padding: 0;

}

.section_1 h2,.section_1 h3,.section_1 p{
	text-align: left;
	padding-left: 15px;
	font-family: Arial, Helvetica, sans-serif;
}
.section_1 h2{
	font-size: 20px;
}
.detail{
	margin-bottom: 15%;
	padding: 5px 15px;
	margin-left: 22%;
}
	/* 質問ここまで */
.double{
	display: block;
	margin-top: 10%;
}
.company,.recruit{
	font-size: 35px;
	width: 76%;
	height: 150px;
	margin: 0 auto;
	font-weight: bold;
}
.company_1,.recruit_1{
	margin-top: 15%;
}
.company p,.recruit p{
	font-size: 10px;
	font-weight: bold;
}
.inquiry{
	color: white;
	background-image: url(contact-bg.jpg);
	background-repeat:repeat;
	background-size:100% auto;
	height: 100%;
	padding: 5%;	
}
.tell{
	padding:10px 20px ;
	margin-bottom: 30%;
}
.question{
	height: 100px;
	width: 93%;
	margin-left: 10px;
}
.faq{
	font-size: 30px;
	margin-left: 55px;
	padding-left: 15px;
	font-weight: bold;
}
.situmon{
	text-align: center;
	margin-right: 20%;
	padding-top: 10px;
	font-size: 15px;
}
footer{
	height: 100px;
}
footer.wrapper{
	width: 85%;
}
.footer-logo p{
	text-align: center;
	float: none;
	letter-spacing: 1px;
}
small{
	text-align: center;
	padding-right: 20px;
}
}

/* ---------タブレットサイズ------------- */

@media (min-width:481px)and ( max-width:1024px){
		.wrapper{
			width: 96.3%;
		}
		.content img{
			width: 40%;
			height: 20%;
			top: 60%;
			right: 5%;
	}
	.section{
		height: 40%;
		width: 50%;
		margin-right: 25%;
		margin-top: 10%;
	}
	.contents_1 img{
		margin-top: 80%;
	}
	.section_1{
		width: 60%;
		margin-top: 85%;
		height: 20%;
		padding-left: 25px;
		padding-right: 25px;
		
	}
	.inquiry{
		padding-top: 0;
		height: 500px;
	}
}
